@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #800D00;
    --cor2: #C7AC0A;
    --cor3: #D17C0A;
    --cor4: #D10AAE;
    --cor5: #4100C7;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

body {
    font: normal 14px Arial;
    text-align: center;
    background-color: black;
}


header {
    background-image: url("martinimg.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    box-shadow: inset 100px -100px 200px 0px black,
        inset -10px 10px 50px 0px black;
}

#sobrepeq {
    display: none;
    margin-bottom: 10px;
}

#sobre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: white;
    height: 300px;
    width: 300px;
    padding-left: 10px;
    border-radius: 0px 250px 0px 0px;
    box-shadow: -20px 20px 100px 0px black,
        10px -10px 100px 0px black,
        15px -15px 100px 0px black,
        40px -40px 100px 0px black;
    overflow: hidden;
}

#nomes {
    background-color: black;
    color: white;
    position: absolute;
    top: 100vh;
    left: 0px;
    padding: 20px 10px;
}

main {
    color: white;
    background-color: black;
    padding-top: 50px;
    box-shadow: 0px -20px 20px 0px rgba(0, 0, 0, 0.5);
}

.tittemas {
    margin: auto;
    margin-top: 50px;
    color: white;
    padding: 10px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 1s;
}


.temasdiv {
    margin: auto;
    margin-bottom: 0px;
    border: 5px solid white;
    border-radius: 20px 20px;
    max-width: 80vw;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition-duration: 1s;
    padding: 0px;
    cursor: pointer;
}

#bio{
    background-color: var(--cor5);
    line-height: 25px;
    text-align: justify;
}

#titbio {
    background-color: var(--cor5);
}

#pais, #titpais {
    background-color: var(--cor4);
} 

#imgpais {
    width: 40vw;
    margin: auto;
    margin-top: 0px;
}

#discdiv, #titdiscdiv {
    max-width: 300px;
    margin: auto;
}

#disc {
    text-align: left;
    line-height: 25px;
}

#disc, #titdisc {
    background-color: var(--cor3);
}

#pardisc {
    max-width: 67.5vw;
    text-align: justify;
    margin: auto;
}

#mus, #titmus {
    background-color: var(--cor2);
}

audio {
    margin-bottom: 30px;
}

footer {
    margin-top: 50px;
    padding: 10px;
    background-color: black;
    padding-top: 40px;
}

#logo {
    max-width: 250px;
    margin: auto;
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
}

#logo:hover {
    transition-duration: 0.5s;
    transform: rotateZ(360deg) scale(1.5);
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

#logo:not(:hover) {
    transition-duration: 0.5s;
}

@media screen and (max-width: 600px) {
    header {
        height: 90vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    #sobre {
        display: none;
    }

    #sobrepeq {
        display: block;
        width: 100vw;
    }

    #nomes {
        position: relative;
        top: 0;
        left: 0;
        padding: 0px;
        box-shadow: 0px -20px 20px 20px black;
    }

    h1 {
        font-size: 1em;
    }

    header {
        box-shadow: 0px 0px 0px 0px transparent;
    }

    #mus {
        margin-top: 0;
    }
}

@media screen and (max-width: 400px) {
    #logo:hover {
        transform: rotateZ(360deg);
    }

}